/*************
**  LEARNING FLEXBOX
**  JAKUB K.
**************/

body{
    background: rgb(209, 181, 181);
}

.wrapper{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: white;
    flex-wrap: wrap-reverse;
}

.box{
    height: 100px;
    min-width: 300px;
    flex-grow: 1;
}

.one{
    background: red;
}

.two{
    background: blue;
}

.three{
    background:green;
}